*.o
*.hi
*.aux
*.dvi
*.ps
*.x
*.y
*.log
*.bak
*.kate-swp
.directory
*.tex

Docfoo.txt
Docfoo.pdf
Absfoo.hs
Layoutfoo.hs
Lexfoo.hs
Parfoo.hs
Parfoo.info
Printfoo.hs
Skelfoo.hs
Testfoo.hs
ErrM.hs

readme.html
readme.pdf
Testfoo
interpreter
parselib

.foo-history
StdLib.hs
.hpc
*.tix
coverage
optbuild
testbuild
